*{
    margin: 0 auto;
    padding: 0;
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}

app-tabela{
    border: 1px solid gray;
    height: 20px;
}

button{
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}